*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
.headingDiv {
    text-align: center;
    line-height: 60px;
    margin : 50px 0px;
}
h1 {
    font-size: 45px;
    font-weight: 800;
}
h3 {
    font-size: 30px;
    font-weight: 300;
    color : gray;
    padding-top: 15px;
}
.cardsDiv{
    position: relative;
    width: 400px;
    border: 15px solid rgba(223, 214, 214, 0.389);
}
.titleLine {
    padding: 20px 0px 10px 40px;
    font-size: 25px;
    font-weight: 600;
}
h4 {
    padding-left: 40px;
    padding-bottom: 5px;
    font-size: 20px;
    color: rgb(167 33 33 / 65%);
    font-weight: 500;
    
}
.para,.commentAndAgo {
    padding: 20px 40px ;
    color: rgb(128, 128, 128);
    line-height: 30px;
    font-weight: 500;
}

.box {
    display: flex;
    gap: 45px;
    row-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.photo{
    position: relative;
}

.dateTag {
    position: absolute;
    bottom: 145px;
    right: 15px;
    background: red;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    color: white;
}

.photoTag {
    position: absolute;
    /* left: 10px; */
    bottom: 5px;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
}